MONGODB_CONNECT_STRING=""
MONGODB_USERNAME=""
MONGODB_PASSWORD=""
MONGODB_DATABASE_NAME=""
#MONGODB_CERTIFICATE_FILE=""

WML_API_KEY=""
WML_ENDPOINT=""
WML_IDENTITY_URL=""
WML_VERSION=""
WML_DEFAULT_DEPLOYMENT_ID=""
WML_DEFAULT_DEPLOYMENT_FIELDS=""
